.layout-login {
    height: 100vh;
}

.layout-content .picture-form img {
    width: 180px;
}

.layout-login .layout-content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.layout-login .layout-content .title-form {
    color: #f2f2f2f2;
}

.layout-login-form {
    display: flex;
    flex-direction: column;
    margin-top: calc(100vh - 95vh);
    max-width: 60%;
}

.layout-login-button {
    width: 150px;
    margin: auto;
}