.logo {
    display: flex;
    justify-content: center;
    margin-top: calc(100vh - 85vh);
}

.logo img {
    border-radius: 25%;
}

.layout-login {
    height: 100vh;
    background: url('http://localhost:83/wave.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.layout-login-form {
    display: flex;
    flex-direction: column;
    margin-top: calc(100vh - 90vh);
}

.layout-login-button {
    width: 150px;
    margin: auto;
}