/* CALL */
.incoming-call {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.incoming-call .incoming-call-name {
    font-size: 21px;
}

.incoming-call .buttons-call {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 150px;
}

.incoming-call .buttons-call .on svg {
    fill: green;
    font-size: 45px;
    background-color: whitesmoke;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 0 5px 0px rgba(29, 28, 28, 0.336);
}

.incoming-call .buttons-call .off svg {
    fill: red;
    font-size: 45px;
    background-color: whitesmoke;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 0 5px 0px rgba(29, 28, 28, 0.336);
}

/* END CALL */


.notification-handle-receive {
    background: #1a1a2a;
}

.notification-handle-receive .ant-notification-notice-content {
    color: whitesmoke;
}

.notification-handle-receive .ant-notification-notice-content .ant-notification-notice-message {
    color: whitesmoke;
}

.sider-users-connected {
    height: calc(100vh - 64px);
    box-shadow: 1px 1px 40px -25px black;
    padding: 5px 10px;
    background: #1a1a2a;
}

@media screen and (max-width: 900px) {
    .sider-users-connected {
        margin-left: -300px;
    }
}

@media screen and (min-width: 901px) {
    .sider-users-connected {
        margin-left: 0 !important;
        flex: unset !important;
        max-width: unset !important;
        min-width: unset !important;
        width: unset !important;
    }
}

.sider-users-connected .button-opened-menu:hover {
    cursor: pointer;
}

.sider-users-connected > div:first-child {
    width: 100%;
    float: right;
    text-align: end;
}

.sider-users-connected .item-user {
    display: flex;
    align-items: center;
    width: 100%;
    padding: .4em 0;
    justify-content: space-between;
}


/**
*   Keyframes to display animation on receive new unread message
**/

@keyframes animationIncommingMessage {
    0% { background-color: rgb(255 255 255 / 30%); }
    50% { background-color: rgb(0 0 0 / 5%); }
    100% { background-color: rgb(255 255 255 / 30%);; }
  }
.sider-users-connected .item-user.incomming-message {
    animation: animationIncommingMessage 1s ease-in-out infinite;
}

.list-option-display {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 50px;
}

.list-option-display div:hover {
    cursor: pointer;
}

.sider-users-connected .item-user .info-user {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
}

.sider-users-connected .item-user .info-user span {
    margin-left: 5px;
    cursor: pointer;
    color: white;
}

.sider-users-connected .item-user .info-user .status__online__busy {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FFA500;
    border: 2px solid rgba(0,0,0,0.1);
}

.sider-users-connected .item-user .info-user .status__online__online {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #28e922;
    border: 2px solid rgba(0,0,0,0.1);
}

.sider-users-connected .item-user > .info-user p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    margin-left: 5px;
}

.sider-users-connected .list-users-connected {
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.sider-users-connected .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 70px);
}

.sider-users-connected .flex-container .credit::before {
    content: '';
    width: 100%;
    border-top: 1px solid rgb(162 182 188 / 0.2);
    padding-top: 10px;
}

.sider-users-connected .flex-container .credit {
    text-align: left;
    color: #f5f5f5fa;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 10px;
}

.sider-users-connected .flex-container .credit .credit__social a {
    padding: 0 10px 0 0;
}

.sider-users-connected .flex-container .credit__developer {
    margin-top: 3px;
}

.sider-users-connected .flex-container .credit__linkedin {
    font-size: 16px;
    width: 12px;
    margin: auto;
}

.sider-users-connected .flex-container .credit__github {
    font-size: 16px;
    width: 12px;
    margin: auto;
}

.sider-users-connected .flex-container .credit__linkedin:hover {
    cursor: pointer;
}

.flex-container .search-containter {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sider-users-connected .flex-container .search-containter .search-container-selectable {
    color: white;
    background: #353948;
    margin-bottom: 10px;
}

.sider-users-connected .flex-container .search-containter button.ant-btn{
    background: transparent;
    border: none;
    color: #f2f2f2;
}

.sider-users-connected .flex-container .credit .hearth-icon-animate {
    color: red;
    font-size: 18px;
    position: absolute;
    right: 48px;
    bottom: 10px;
    animation: hearth-animate 1s infinite;
}

@keyframes hearth-animate {
    0% {
        transform: rotate3d(0,1,0, 0deg);
    }

    100% {
        transform: rotate3d(0,1,0, 180deg);
    }
}

.sider-users-connected .list-users-connected .search-users {
    border-radius: 5px;
    line-break: loose;
    line-height: 20px;
    margin-bottom: 10px;
    font-size: 13px;
    margin-top: -5px;
}

.sider-users-connected .list-users-connected .item__user:not(:first-child, :last-child) {
    border-bottom: dashed 1px rgba(0,0,0,.25);
}

.sider-users-connected .list-users-connected .item__user {
    height: calc(100vh - 245px);
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

.sider-users-connected .list-users-connected .item__user::-webkit-scrollbar {
    width: 0;
}

.sider-users-connected .list-users-connected .item-user {
    background: rgb(255 255 255 / 10%);
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 7px;
    box-shadow: 0 0 5px 0px rgba(0 ,0 ,0 ,.2);
    transition: all .5s ease;
}

.sider-users-connected .list-users-connected .item-user.selected {
    background: rgb(255 255 255 / 50%);
    transition: all .5s ease;
}

.sider-users-connected .list-users-connected .item-user button:hover {
    border: #5d5a5a21 1px solid;
}

.item__groupe::-webkit-scrollbar {
    width: 0;
}

.item__groupe {
    height: calc(100vh - 245px);
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}    

.item__groupe .button-create-groupe {
    position: relative;
    z-index: 1;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 3px;
    color: #1a1a2aa6;
    border: 1px solid #00000029;
    width: 100%;
    background: #fafafa;
}

.sider-users-connected .item-groupe {
    background: rgb(255 255 255 / 10%);
    border-radius: 5px;
    padding: 5px 0;
    margin-bottom: 7px;
    box-shadow: 0 0 5px 0px rgba(0 ,0 ,0 ,.2);
    transition: all .5s ease;
}

.sider-users-connected .item-groupe .groupe-container {
    display: flex;
    flex-direction: column;
    padding: 4px;
}

.sider-users-connected .item-groupe .groupe-container .groupe-title {
    justify-content: space-between;
    display: inherit;
}

.sider-users-connected .item-groupe .groupe-container .groupe-title span {
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 25px;
    text-align: start;
    font-weight: 600;
}

.sider-users-connected .item-groupe .groupe-container .groupe-title .button-action .group-open svg {
    fill: rgb(108, 255, 5);
}

.sider-users-connected .item-groupe .groupe-container .groupe-title .button-action .group-secure svg {
    fill: rgb(199, 0, 0);
}

.sider-users-connected .item-groupe .groupe-container .groupe-title .ant-btn {
    background: transparent;
    border: none;
}

.sider-users-connected .item-groupe .groupe-container .groupe-title .ant-btn svg {
    fill: ghostwhite;
}

.sider-users-connected .item-groupe .groupe-container .groupe-available-space {
    display: inherit;
    justify-content: space-between;
}

.sider-users-connected .item-groupe .groupe-container .groupe-available-space .ant-btn {
    background: #ffffff2b;
    border: none;
    color: #fbfbfb;
    font-size: 11px;
    padding: 0 5px;
}

.list-option-display div:first-child {
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 3px;
}

.sider-users-connected .list-users-connected .item-user button {
    background: transparent;
    border: none;
}

.sider-users-connected .list-users-connected .item-user button:hover {
    border: none;
}

.sider-users-connected .list-users-connected .item-user button:active {
    border: none;
}

.sider-users-connected .list-users-connected .item-user button svg {
    fill: ghostwhite;
}