.nav-bar-header {
    display: flex;
    justify-content: space-between;
    background:#1a1a2a !important;
}

.nav-bar-header-login-form {
    margin-top: 10px;
    display: inline-flex;
    background: #1a1a2a;
}

.nav-bar-header-login-form .ant-form-item-control-input-content {
    display: flex;
}

.nav-bar-header-login-form .ant-form-item-control-input-content .ant-input-affix-wrapper {
    margin-right: 10px;
}

.nav-bar-header .user-action > span:hover {
    cursor: pointer;
}

.avatar-icon {
    /* background: rgb(245, 106, 0) !important; */
}

.avatar-icon > span {
    text-transform: uppercase;
}

.dropdown-menu-title {
    text-align: center !important;
}

.dropdown-menu-title .option {
    display: flex;
    justify-content: space-between;
    margin-left: 12px;
    margin-right: 12px;
}

.modal__settings .ant-modal-content {
    background: rgb(229, 247, 250);
}

.modal__settings .ant-modal-content .ant-modal-header {
    background: rgb(229, 247, 250);
}