.footer-content {
    position: fixed;
    bottom: -100px;
    transition: .2s;
    max-height: 130px;
    width: 100%;
}

.footer-content.active {
    position: fixed;
    bottom: 0;
    transition: .2s;
    max-height: 130px;
    width: 100%;
}

.footer-content > .footer-content-btn {
    position: relative;
    top: 0;
    right: 100px;
    width: 100px;
    text-align: center;
    background: white;
    box-shadow: 0 0 10px 0px #d2d2d2;
    border-radius: 5px 5px 0px 0;
    cursor: pointer;
    height: 30px;
    float: right;
    transition: .2s;
}

.footer-content > .footer-content-btn:hover {
    height: 35px;
}

.footer-content .footer-content-description {
    position: relative;
    float: left;
    background: white;
    font-size: .8rem;
    color: rgb(233, 105, 0);
    width: 100%;
}

.footer-content-description-info {
    padding: 30px 30px;
}